$primary-color:#00916E;
$darker-color:#00664E;
$main-text-color:#2E2C2F;
$white: #fff;

body {
    color:black;
    padding:0;
    margin:0;
    position:relative;
    min-height:100vh;
    overflow:auto;
    font-family:Trebuchet MS;
    font-size:16px;
}

.container {
    display:flex;
    flex-flow:row wrap;
    .sidebar {
        background-color:$primary-color;
        color:$white;
        width:30%;
        height:100%;
        padding:0 1rem;
        position:fixed;
        top:0;
        left:0;
		overflow-y:auto;
        a {
            color:$white;
            text-decoration:none;
        }
        .sidebartop{
            padding-top:1rem;
			padding-bottom:1rem;
			a {
				padding-top:0;
				padding-bottom:0;
				cursor:pointer;
				display:table;
				.header {
					font-size:40px;
					padding:1rem 1rem 1rem 0rem;
					display:table-cell;
					vertical-align:middle;
				}
			}
		}
        nav {
            ul {
                padding:1rem 0rem;
                margin:0;
                list-style:none;
                li {
                    display:block;
                    align-items:center;
                    padding:.5rem 0;
                    position:relative;
                    a {
                        display:table;
						height:2.5rem;
						width:100%;
						background-color:lighten($primary-color,5%);
                        .text {
                            position:relative;
							padding:1rem 2rem 1rem 1rem;
                            display:table-cell;
							vertical-align:middle;
                        }
                    }
                }
            }
        }
	}
	
	.sidebarbutton {
		width:1rem;
		height:100%;
		position:fixed;
		background-color:darken($primary-color, 10%);
		margin-left:calc(30% + 2rem);
		cursor:pointer;
		display:table;
		text-align:center;
		border-radius:0 .5rem .5rem 0;
		span {
			font-size:2rem;
			color:$white;
			display:table-cell;
			vertical-align:middle;
		}
	}
	
    .main {
        margin-left:calc(30% + 3rem);
        padding:1rem;
		text-align:justify;
		height:100%;
    }
}

.short {
    .sidebar {
        display:none;
    }
	.sidebarbutton {
		margin-left:0;
	}
    .main {
        margin-left:1rem;
    }
}


@media (max-width:844px) {
	.container {
		.sidebar {
			width:50%;
		}
		.sidebarbutton {
			margin-left:calc(50% + 2rem);
		}
		.main {
			margin-left:calc(50% + 3rem);
		}
	}
	.short {
	.sidebarbutton {
		margin-left:0;
	}
    .main {
        margin-left:1rem;
    }
}
}